.aider*

# Project-related files

# Run logs
screenshottocode/run_logs/*

# Weird Docker setup related files
screenshottocode/screenshottocode/*

# Env vars
frontend/dist/*
frontend/.env.local
screenshottocode/.env
.env

# Mac files
.DS_Store
