.aider*
node_modules

# Project-related files

# Run logs
run_logs/
backend/local_assets/*
backend/image_generation/eval_sets/*
backend/image_generation/eval_results/*

# Weird Docker setup related files
backend/backend/*

# Env vars
frontend/.env.local
.env

# Mac files
.DS_Store

#Rodney
.rodney

# Walkthrough demo videos
walkthrough/
.foglamp/
